.cnt-h {
  color: rgb(245, 152, 109);
  margin-top: 6rem;
  margin-left: 30px;
}
.cntgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  gap: 3rem;
  overflow-y: hidden;
}
.cntimg{
  height:80%;
  margin-left: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem;
}
.lab {
  font-weight: bold;
}
.inp-cnt,
txtarea,
.btn-sbmt {
  width: 35rem;
}
.btn-sbmt {
  height: 2rem;
  border-radius: 1rem;
  color:white;
  background:black;
  border: none;
  margin-top: 3rem;
  font-weight: bold;
}
.inp-cnt:hover,
.btn-sbmt:hover,
txtarea:hover {
  box-shadow: 2px 2px 1px gray;
}
.btn-sbmt:hover {
  background:red ;
  color:black;
  transition: all 0.3s;
}
.txtarea {
  height: 5rem;
}
.inp-cnt:focus,
txtarea:focus {
  border: gray;
}
@media screen and (max-width: 768px) {
  .cntgrid {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .cntimg {
    order: 1;
    display: flex;
    height: 300px;
    margin:auto;
    justify-content: center;
  }
  .cntform {
    order: 2;
    margin-left: -25px;
  }
  .inp-cnt,
  txtarea,
  .btn-sbmt {
    width: 100%;
  }
  .form{
    margin-left: 2rem;
  }
  
}
